@model Domain
@using Web.Admin.Logic.Collections
@using Web.Admin.Logic.Objects
@using Web.Admin.Logic.Utilities
@using Web.Admin.Helpers
@using Web.Admin.Models

@{ 
 var templateId = String.Format("dialog-view-{0}", DateTime.Now.Ticks.ToString());
 var dialogId = templateId.Replace("-view-", "-");
 var contentId = templateId.Replace("-view-", "-content-");
}

<template type="text/template" id="@templateId" data-dialog-tittle="Edit : &nbsp;@Model.Name" data-dialog-spinner="spinner-@dialogId">
        <div id="notify-message"></div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#domaingeneral" data-toggle="tab">General</a>
            </li>
            <li><a href="#domainfields" data-toggle="tab">Assigned Profile Fields</a></li>
        </ul>
        <br/>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="domaingeneral">
                <div class="form-group">
                    <label for="domain-name">Name</label>
                    <input type="text" class="input-xlarge form-control" id="domain-name" style="color:black" maxlength="64" value="@Model.Name" />
                </div><br/>
                <div class="form-group">
                    <label for="domain-settings">Description</label>
                    <textarea class="input-xlarge form-control" id="domain-desc" rows="10" style="color:black" maxlength="4000">@Model.Description</textarea>
                </div>
            </div>
            <div class="tab-pane fade in" id="domainfields">
                <div id="member-profile-fields">
                    @{Html.RenderPartial(@"~/Views/Fields/MemberFieldsByDomainRole.cshtml", new ProfileFieldDomainRoleModel(Model.Name, ProfileFieldDomainRoleMode.Domain));}
                </div>
            </div>
        </div>
 </template>

<script type="text/javascript">
    $(function () {
        var dialog = App.DialogBootstrap("#@templateId",580,640, true,
        {
            Save: function () {

                var roleInfo = {
                    DomainID :  @Model.DomainID,
                    Name :     $("#domain-name").val(),
                    Description : $("#domain-desc").val()
                };

                $("#spinner-@dialogId").addClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveDomain", "Domains")",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(roleInfo),
                    cache: false,
                    success: function (data) {
                        switch(data.NotifyType)
                        {
                            case 0: $("#general-message").html(data.Html);dialog.close();break
                            case 1: $("#@dialogId").find("#notify-message").html(data.Html);break;
                            case 2: $(data.Html).prependTo('body');dialog.close();break;
                        };

                        setTimeout(function(e){App.DomainsManagement.ReloadDomains(null, null,false);}, 700);

                        $("#spinner-@dialogId").removeClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
                    },
                    error: function(xhr, textStatus, errorThrown){
                        App.DialogError(xhr,textStatus, errorThrown);
                        $("#spinner-@dialogId").removeClass("glyphicon glyphicon-refresh glyphicon-refresh-animate");
                    }
                });

            }//,
            //Cancel: function () {$(this).dialog("close");}
        });
    });
</script>
