@model ChangePasswordModel
@using Web.Admin.Logic.Collections
@using Web.Admin.Logic.Objects
@using Web.Admin.Logic.Utilities
@using Web.Admin.Helpers
@using Web.Admin.Models
@using Web.Admin.Controllers

<div class="login-box login-box-pos-top-relative">
    <div class="login-form">
        <div class="login-title">
        @AppSession.GetLabel("Account.ChangeAccountPassword.Title")
        </div>
        <div class="login-form-inner">
               <div id="notify-message"></div>               
               <p>@AppSession.GetLabel("Account.ChangeAccountPassword.Member"): <b>@Model.Name &lt;@Model.Email&gt;</b></p>
               <label class="member-pass" for="member-pass">@AppSession.GetLabel("Account.ChangeAccountPassword.Password")</label>
               <input type="password" class="input-xlarge login-form-field" id="member-pass" style="width:97%;color:black" maxlength="30"/><br/><br/>
               <label class="member-pass" for="member-pass-confirm">@AppSession.GetLabel("Account.ChangeAccountPassword.PasswordConfirmation")</label>
               <input type="password" class="input-xlarge login-form-field" id="member-pass-confirm" style="width:97%;color:black" maxlength="30"/>
         </div>
        <div class="login-form-buttons">
              <button class="btn btn-default btn-primary change-password-btn login-form-button btn-sm">@AppSession.GetLabel("Account.ChangeAccountPassword.Change")</button>&nbsp;<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="vertical-align:middle;display:none"></div>
              <div style="float:right;margin-top:5px"><a href="@Url.Action("SignIn","")">@AppSession.GetLabel("Account.ChangeAccountPassword.SignIn")</a>&nbsp;&nbsp;                
              @{AppSession.Parameters.RefreshAppParameters();}                              
              @if (AppSession.Parameters.RegistrationResetPassword.Value == "true"){<a href="@Url.Content("ForgotPassword")">@AppSession.GetLabel("Account.ChangeAccountPassword.ForgotPassword")</a>}              
              </div>
         </div>
    </div>
</div>
   