@using Web.Admin.Controllers
@using Web.Admin.Logic.Collections;

@{
   var RetutnUrl = "";
    if (AppSession.NoAuthReturnUrl != null && !User.Identity.IsAuthenticated) 
    {
        RetutnUrl = AppSession.NoAuthReturnUrl;
    }              
    else if (AppSession.ReturnUrl != null) 
    {
        RetutnUrl = AppSession.ReturnUrl;
    }
}

<div class="login-header-top">
    <div class="container">
         <h1>
            @AppSession.GetLabel("Account.ForgotPassword.HeaderBig")&nbsp;
            <small>
                @AppSession.GetLabel("Account.ForgotPassword.HeaderSmall")
                @if (@RetutnUrl != "") { <a style="float:right" class="btn btn-default" href="@RetutnUrl">Back to Application</a>}
            </small>
            </h1>
    </div>
</div>


<div class="login-box login-box-pos-top-relative">
    <div class="login-form">
        <div class="login-title">
         @AppSession.GetLabel("Account.ForgotPassword.Title")
        </div>
        <div class="login-form-inner">
               <div id="notify-message"></div>
               <p>@AppSession.GetLabel("Account.ForgotPassword.Instruction")</p>
               <label class="member-name" for="member-name">@AppSession.GetLabel("Account.ForgotPassword.Name")</label>
               <input type="text" class="input-xlarge login-form-field" id="member-name" style="width:97%;color:black" maxlength="64"/><br /><br />
               <label class="member-label" for="member-email">@AppSession.GetLabel("Account.ForgotPassword.Email")</label>
               <input type="text" class="input-xlarge login-form-field" id="member-email" style="width:97%;color:black" maxlength="64"/>
         </div>
        <div class="login-form-buttons">
              <button class="btn btn-default btn-success send-change-password-link-btn login-form-button btn-sm">@AppSession.GetLabel("Account.ForgotPassword.Send")</button>&nbsp;<div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="vertical-align:middle;display:none"></div>
              <div style="float:right;margin-top:5px"><a style="float:right" href ="@Url.Content("SignIn")">@AppSession.GetLabel("Account.ForgotPassword.AlreadyHave")</a></div>
         </div>
    </div>
</div>