@model RequestResultModel
@using Web.Admin.Logic.Collections
@using Web.Admin.Logic.Objects
@using Web.Admin.Logic.Utilities
@using Web.Admin.Helpers
@using Web.Admin.Models
@{
    var type = "";
    switch(Model.InfoType)
    {
        case RequestResultInfoType.Information: type = "alert-info"; break;
        case RequestResultInfoType.Success: type = "alert-success"; break;
        case RequestResultInfoType.Warning: type = ""; break;
        case RequestResultInfoType.ErrorOrDanger: type = "alert-danger"; break;
    }
}
<div class="alert @type">
    <a class="close" data-dismiss="alert">×</a>
    @if (@Model.Title != null && @Model.Title.Length > 0)
    {
    <strong>@Model.Title:</strong>
    }
    @Model.Message
</div>
<div id="general-message"></div>